.form-group .help-block {
	display: none;
}
 
.form-group.has-error .help-block {
	display: block;
}

.removeNumber {
	background: #C76868;
	color: #FFF;
	font-weight: bold;
	font-size: 21px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	padding: 4px 9px;
	vertical-align: top;
	line-height: 100%;   
}

.num
{
	display: inline;
	width: 30px;
	border: 1px solid #9e9e9e;
	-webkit-border-radius: 999px;
	border-radius: 999px;
	-moz-border-radius: 999px;
	height: 22px;
	background-color: #fff;
	color: #333;
	cursor: pointer;
}